[submodule "nvim"]
	path = nvim
	url = https://github.com/casss-dev/nvim
	branch = main
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "iterm/themes/rose-pine"]
	path = iterm/themes/rose-pine
	url = ssh://git@github.com/rose-pine/iterm
[submodule "iterm/themes/catppuccin"]
	path = iterm/themes/catppuccin
	url = ssh://git@github.com/catppuccin/iterm
[submodule "lazygit/themes/catppuccin"]
	path = lazygit/themes/catppuccin
	url = ssh://git@github.com/catppuccin/lazygit
